html {
  scroll-behavior: smooth;
}
/* Classes */
.Homepage {
  background: linear-gradient(to bottom, #000000, #1d1720);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;

  scroll-behavior: smooth;
  overflow-y: hidden;
}
.pitch-text {
  color: white;
  opacity: 70%;
}

/* ID's */
#hero {
  /* width: 100%; */
  height: 1076px;
  z-index: 1;
  background: url("../../assets/img/pexels-а.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: contain;
  overflow: hidden;
}
#pitch {
  height: 850px;
  z-index: 1;
}
#pitch-heading {
  filter: drop-shadow(0 0 2em #e9462e);
  text-shadow: 0px 0px 5px #e9462e;
}
#bg {
  z-index: 0;
  /* height: 1076px; */
  object-fit: cover;
  overflow: hidden;
}
#transition {
  position: "absolute";
  left: 100%;

  animation: ease-in-out;
  transition: linear 2s;
  cursor: pointer;
}

/* Responsive Design */
@media (min-width: 390px) and (max-width: 414px) {
  .Homepage {
    height: 1730px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 0.5rem; */
    /* padding-right: 0.5rem; */

    min-width: 390px;
    max-width: 414px;
    /* border: 1px solid red; */
  }
  .pitch-text {
    position: relative;
    font-weight: 500;
    font-family: "Inria Sans", sans-serif;
  }
  #pitch-logo {
    opacity: 4%;
    position: relative;
    bottom: 400px;
    z-index: 0;
  }
  #side-banner {
    position: absolute;
    top: 46.2%;
    background: linear-gradient(to top, #e9462e, #aa1e5d, #630531, #2c202d);
    width: 5px;
    z-index: 3;
    height: 53.68%;
  }

  /* hero section */
  #hero {
    display: flex;
    flex-direction: column;
    place-items: flex-start;

    width: 100%;
    height: 800px;
    /* border: 1px solid white; */
    overflow: hidden;
  }
  #hero-logo {
    transform: scale(0.5);
    position: relative;
    top: 220px;
    left: 80px;
  }
  #hero-logo-c {
    object-fit: contain;
    /* border: 1px solid red; */
  }

  /* pitch section */
  #pitch {
    margin-top: 100px;
    height: 425px;
  }
  #pitch-heading {
    font-size: 40;
    font-weight: 900;
    filter: drop-shadow(0 0 2em #e9462e);
    text-shadow: 0px 0px 5px #e9462e;

    font-family: "Inter", "sans-serif";
  }
  #pitch-subheading {
    margin-bottom: 5%;
    font-family: "Inria Sans", sans-serif;
    opacity: 80%;
  }
  #pitch-outro {
    position: relative;

    margin-top: 20%;
    margin-left: 40%;
    font-size: larger;
  }
  #hero-cnt1 {
    /* margin-top: 30%; */
    margin-top: 445px;
    z-index: 5;
  }
  #hero-cnt2 {
    margin-top: 625px;
    position: absolute;
  }
  #transition {
    left: 180px;
  }
  #home-container {
    margin-top: 80px;
  }
} /* Phones */

@media (min-width: 600px) {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    max-width: 600px;
  }
  /* hero section */
  #hero {
    display: flex;
    flex-direction: column;
    place-items: flex-start;
    height: 800px;
    /* border: 1px solid white; */
    overflow: hidden;
  }
} /* Tablets */
@media (min-width: 768px) {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    max-width: 768px;
  }
} /* Large Tablets */
@media (min-width: 992px) {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    max-width: 992px;
  }
} /* Laptops */
@media (min-width: 1200px) {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    max-width: 1200px;
  }
  #pitch {
    width: 700px;
  }
  #pitch-logo {
    position: relative;
    bottom: 200px;
  }
  #hero-cnt1 {
    margin-top: 30%;
  }
  #hero-cnt2 {
  }
} /* Large Laptops */
